@charset "utf-8";
/* CSS Document */

body{margin:0px;
height: 100%;
}

#menu{
        font-size: 25px;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		font-weight:500;
        background-position:center;
        margin-top:5px;
        height:0px;
		margin-left:0px;
        /*border:2px solid #000;Para visualizar a DIV PRETO*/
} 


#topo{
        background-repeat: no-repeat;
		margin-left:0px;	
	}

#inferior{
        background-repeat: no-repeat;
		margin-left:0px;
	}

#frota{
	position:absolute; left:400px; top:150px; right:10px;

	  /*border:2px solid #FF0;Para visualizar a DIV AMARELO*/	
	}